html, body {
    height: 100%;
    background-image: linear-gradient(to bottom, #e1f6f0, #6dbfb0);
}
.page {
    color: rgb(51, 55, 56);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* form */
.form {
    padding-top: 10%;
    display: inline-block;
    margin-left: 30%;
    margin-right:15%;
    width: 40%;
    text-align: center;
  }

.fieldset {
    padding: 25px;
    margin: 25px, 25px;
}

.fields, .button {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
}
  
.button {
background-color: #62a1a3;
color: white;
cursor: pointer;
}

.field_hover:hover, .button:hover{
border: 2px solid #008080;
}

.button:hover {
background-color: #008080;
}

a, a:hover{
    color: #508385;
    text-decoration: none;
  }
a:hover{
    color: #015757;
}
p{
    text-emphasis: bold;
}
.image{
    height: 150px;
    border-radius: 100px;
}